server {
    listen {{ nginx_port }};
    root {{ nginx_frontend_root }};

    index index.html index.htm;

    server_name {{ host_frontend_fqdn }};

    location / {
        try_files $uri $uri/ =404;
    }

}