; Start a new pool named 'www'.
[www]

; Unix user/group of processes
user = {{ nginx_user }}
group = {{ nginx_user }}

; The address on which to accept FastCGI requests.
listen = {{ php_fpm_daemon_sock }}

listen.owner = {{ nginx_user }}
listen.group = {{ nginx_user }}

;POSIX Access Control Lists (DISABLED FOR MACOS AND BSD COMPAT, USING listen.owner and listen.group instead)
listen.acl_users = 
listen.acl_groups =

; List of addresses (IPv4/IPv6) of FastCGI clients which are allowed to connect.
listen.allowed_clients = 127.0.0.1

; Process Manager
pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35


php_admin_value[error_log] = /var/log/php-fpm/www-error.log
php_admin_flag[log_errors] = on

; Data paths
php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/session
php_value[soap.wsdl_cache_dir]  = /var/lib/php/wsdlcache
;php_value[opcache.file_cache]  = /var/lib/php/opcache
